{% extends "base.html" %}

	{% block title %}Contacto ManRouss{% endblock %}

	{% block content %}
		<div class="content-padding"> 
			<h1 class="page-title">Ponte en contacto</h1>
			
			Dame tu feedback o dime hola o que se yo =]
			
			Si quieres puedes ver lo que estoy haciendo estas son mis redes sociales:
			
		</div><!-- close .content-padding -->
		
		<hr>
		
		<div class="content-padding"> 
			<div class="alignleft">
				<h2>Sígueme en</h2>
			</div><!-- close .alignleft -->
			<div class="alignright">
				<ul class="social-networking">
					<li class="twitter"><a href="https://twitter.com/#!/ManRouss/" target="_blank">Twitter</a></li>
					<li class="facebook"><a href="https://www.facebook.com/ManRouss" target="_blank">Facebook</a></li>
					<!--li class="dribble"><a href="#">Dribble</a></li-->
					<li class="youtube"><a href="http://www.youtube.com/user/ManRouss" target="_blank">Youtube</a></li>
					<li class="skype"><a href="#">Skype</a></li>
					<!--li class="vimeo"><a href="#">Vimeo</a></li>
					<li class="email"><a href="">E-mail</a></li>-->
				</ul>
			</div><!-- close .alignright -->
			<div class="clearfix"></div>
		</div><!-- close .content-padding -->
		
	{% endblock %}


	
