{% extends "base.html" %}

{% block title %}Videojuegos y más por ManRouss{% endblock %}

{% block content %}
	<div id="content">
		<div id="content-top">
			<div id="content-top-right"></div>
	  	</div><!-- close #content-top -->
		
		<div id="content-container-bg-left">
			<div id="content-container-bg-right">
				<div id="content-container">
				
				<div class="content-padding"> 
					<h1 class="page-title">Bienvenido</h1>
					<h2>Esta es una web sobre videojuegos y mas</h2>
				</div><!-- close .content-padding -->
				
				<div id="featured-container">
				<div id="featured"> 
				    <img src="/static/images/banners/vanquish-logo-sam.jpg" alt="vanquish reseña" data-caption="#htmlCaption1" />
				    <img src="/static/images/banners/metal-gear-solid-peace-walker.jpg"  alt="metal gear reseña" data-caption="#htmlCaption2" />
                    <img src="/static/images/banners/castlevania.jpg" alt="castlevania reseña" data-caption="#htmlCaption3" />
                    <div><iframe width="500" height="281" src="http://www.youtube.com/embed/XCTBlkL0HIY?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe></div>
					
				</div><!-- close #featured -->
				<!-- Captions for Orbit -->
				<div class="orbit-caption" id="htmlCaption1">
					<div class="caption-padding">
						<a href="javascript:void(0)" class="button alignright">Proximamente</a>
					  <h1>ps3-xbox 360</h1>
						<h4>Reseña: Vanquish</h4>
					</div>
				</div><!-- close .orbit-caption #htmlCaption1 -->
				<div class="orbit-caption" id="htmlCaption2">
					<div class="caption-padding">
						<a href="javascript:void(0)" class="button alignright">Ver reseña</a>
					  <h1>exclusivo ps3</h1>
						<h4>Metal gear solid</h4>
					</div>
				</div><!-- close .orbit-caption #htmlCaption2 -->
                <div class="orbit-caption" id="htmlCaption3">
					<div class="caption-padding">
						<a href="javascript:void(0)" class="button alignright">Ver reseña</a>
					  <h1>ps3-xbox 360</h1>
						<h4>Castlevania : Lords of Shadow</h4>
					</div>
				</div><!-- close .orbit-caption #htmlCaption3 -->
				</div><!-- close #feautred-container -->
				
				
				<hr />
				
				<div class="content-padding"> 
					<h1>Desde el Blog</h1>
				</div><!-- close .content-padding -->
					<a href="javascript:void(0)"><img src="/static/images/banners/tecladoPrueba.jpg" width="500" height="200" alt="" /></a>
				<div class="content-padding"> 
					<div class="comments"><a href="javascript:void(0)">12</a></div>
				  <h2><a href="javascript:void(0)">Teclado inalámbrico K360 - Unboxing</a></h2>
				</div><!-- close .content-padding -->
				<div class="post-details">By <a href="#">ManRouss</a> @ 01/03/2012 en categorías <a href="#">unboxing</a>, <a href="#">hardware</a></div><!-- close .post-details -->
				<div class="content-padding"> 
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi eu tortor vel neque congue congue. Mauris quis erat. Vestibulum dictum ligula vel purus. Vivamus eget purus. Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci sed molestie congue, erat pede consectetuer tellus, non ultricies turpis purus eget lorem. Fusce ut libero.</p>
					<a href="javascript:void(0)" class="button">Ver más</a>						</div>
				<!-- close .content-padding -->
				
				
				
				<div class="clearfix"></div>
				</div><!-- close #content-container -->
			</div><!-- close #content-container-bg-right" -->
		</div><!-- close #content-container-bg-left -->
		
		
		
		<div id="content-bottom">
			<div id="content-bottom-right"></div>
	  </div><!-- close #content-bottom -->
	</div><!-- close #content -->
{% endblock %}