{% extends "base.html" %}

	{% block title %}Videojuegos y más por ManRouss{% endblock %}

	{% block content %}
	
		<div class="content-padding"> 
			<h1 class="page-title">Desde el Blogeek</h1>
			<h2>Esta es una web geek sobre videojuegos y mas</h2>
		</div><!-- close .content-padding -->
			<a href="/post"><img src="/static/images/post-blog/teclado-logitech-k360.png" width="500" height="200" alt="" /></a>
		<div class="content-padding"> 
			<!--<div class="comments"><a href="javascript:void(0)">12</a></div>-->
		  <h2><a href="/post">Teclado inalámbrico K360 - Unboxing/Reseña</a></h2>
		</div><!-- close .content-padding -->
		<!--<div class="post-details">By <a href="#">ManRouss</a> @ 01/03/2012 en categorías <a href="#">unboxing</a>, <a href="#">hardware</a></div><!close .post-details -->
		<div class="content-padding"> 
			<p>El teclado inalámbrico práctico y atractivo con un diseño compacto y distribución de teclas habitual, tres años de duración de pilas y acceso instantáneo a las tareas más frecuentes.</p>
			<a href="/post" class="button">Ver más</a>						
		</div><!-- close .content-padding -->
	{% endblock %}