{% extends "base.html" %}

	{% block title %}ManRouss{% endblock %}

	{% block content %}
		<img src="/static/images/post-blog/teclado-logitech-k360.png" width="500" height="200" alt="" />
		<div class="content-padding"> 
			<!--<div class="comments"><a href="#comments">12</a></div>-->
			<h3>Teclado inalámbrico K360 - Unboxing/Reseña</h3>
		</div><!-- close .content-padding -->
		<!--<div class="post-details">By <a href="#">ProgressionStudios</a> @ 07/27/2011 in categories <a href="#">coding</a>, <a href="#">news</a></div><! close .post-details -->
		<div class="content-padding"> 
			<blockquote>El teclado inalámbrico práctico y atractivo con un diseño compacto y distribución de teclas habitual, tres años de duración de pilas y acceso instantáneo a las tareas más frecuentes.
			<br /><br />¿Quires saber más? Que esperas solo dale play!!</blockquote>
		</div><!-- close .content-padding -->
		
		<iframe width="500" height="281" src="http://www.youtube.com/embed/XCTBlkL0HIY?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
		
		<div class="clearfix"></div>
		<hr />
		<div class="content-padding">
			<h4>Dejanos tus comentarios</h4>
		</div>
		<div class="fb-comments" data-href="http://manrouss-test.appspot.com" data-num-posts="10" data-width="500"></div>
		
	{% endblock %}